<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="esoft.Properties.Settings._16is32ConnectionString"
            connectionString="Data Source=sqlstud;Initial Catalog=16is32;User ID=16is32;Password=16is32"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>